body {
  padding: 10px;
}

.nes-btn {
  margin-bottom: 10px;
}

@font-face {
  font-family: "Zpix";
  src: url("../font/Zpix.ttf");
}

.chinese {
  font-family: Zpix;
}

.nes-container.member-card {
  display: flex;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
}

.member-card > .profile {
  margin-left: 1.5rem;
}

.head-photo {
  width: 140px;
  image-rendering: pixelated;
}

.section-lead {
  margin-bottom: 20px;
}

.nes-container {
  margin-bottom: 2rem !important;
}

.nes-container.is-rounded {
  margin: 0;
}

.weibo-img {
  width: 50px;
  margin-bottom: 20px;
}

.nes-list li {
  margin: 15px 0;
}

.nes-btn.is-warning {
  color: black;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.nes-list.is-disc li::before {
  top: 18px;
  left: -25px;
}

.nes-list.is-circle li::before {
  top: 3px;
}

.social-icons {
  padding-top: 4px;
}
